[v-cloak] {
    display: none;
}

.todoapp h2 {	
  position: absolute;		
  top: -40px;
  left: 80px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgba(175, 47, 47, 0.15)
}